<nav class="navbar">
    <div class="navbar-container">
      <a href="#" class="logo">RICECARE</a>
      <ul class="nav-links" id="nav-links">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/diagnosticos">Diagnósticos</a></li>
        <li><a href="/upload">Upload de Imagem</a></li>
      </ul>
      <div class="profile-container">
        <div>
          <span class="user-name">Thiago Ryu Funaki</span>
          <span class="user-role">Administrador</span>
        </div>
        <div class="profile-icon">
          <img src="./img/iconperfil.jpg" alt="Profile Picture" />
        </div>
      </div>
      <div class="hamburger" id="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
  </nav>
  