<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RICECARE</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="imagex/png" href="../img/logo.png">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Link para o CSS do flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Link para o JS do flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<body>