<%- include ('partials/header.ejs') %>

<div class="login-page">
    <div class="login-logo-section">
        <img src="../img/logo.png" alt="RiceCare Logo" class="login-logo">
        <h1 class="login-logo-text">RICECARE</h1>
    </div>
    <div class="login-form-section">
        <h2 class="text-logo">BEM-VINDO</h2>
        <h3 class="text-h3">
            AO RICECARE
            <img src="../img/linha.png" alt="linha" class="login-linha">
        </h3>        
        <form class="login-form" method="POST" action="/upload">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Senha" required>   
            <div class="login-options">
                <label>
                    <input type="checkbox" name="remember">
                    Lembre-se de mim
                </label>
                <a href="/forgot-password">Esqueceu sua senha?</a>
            </div>
            <button type="submit" class="login-button">Entrar</button>
        </form>
        <div class="login-signup-container">
            <p class="login-signup">Ainda não tem uma conta?</p>
            <a class="login-signup-link" href="/register">Cadastre-se</a>
        </div>
    </div>
</div>
